*{
    padding: 0%;
    margin: 0%;


}

.box{

    padding: 1px;
    border: 5px solid black;
    margin: 50 40 30 40;
    border-width: 10px;
}


h1, h2{
    color: orangered;
    font-family: 'Times New Roman', Times, serif;
    font-size: 38px;
    text-align: center;

}

.img{
    width: 200px;
    height: 200px;
    border-style: solid;
    border-color: black;
    border-radius: 15%;
    border-width: 10px;
}

#colordefondo{
    background-color: darkolivegreen;


}

.externo{

    border-style: solid;
    border-color: black;
    border-radius: 15%;
    border-width: 10px

}

p{
font-family: 'Times New Roman', Times, serif;
font-size: 38px;
padding: 10px;
margin: 20px;


}

.container-nav {
    display: flex;
    padding: 10px;
    height: 50px;
    background-color: black;
  }
  
  
  .navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  
  .brand {
    display: flex;
    align-items: center;
  }
  
  
  li>a {
    padding: 8px 24px;
  }
  
  
  li {
    list-style-type: none;
  }
  
  
  a {
    color: white;
    text-decoration:none;
  }
  
  
  .nav-links {
    display: flex;
    align-items: center;
  }
  
  
  .button-menu-toggle {
    display: none;
  }

  @media (max-width: 768px) {
    .column {
      flex: 100%;
    }
  
    .nav-links {
      display: none;
    }
    
    .button-menu-toggle {
      display: block;
      background-color: white;
      border:none;
      border-radius: 50px;
      padding: 0 24px;
      font-family: monospace;
      font-weight: bold;
      font-size: 20px;
    }
   
    .nav-links.nav-links-responsive {
      position: absolute;
      display: flex;
      background-color: rgba(20,20,20,0.95);
      width: 100%;
      height: 100%;
      top: 70px;
      left: 0;
      flex-direction: column;
      padding-top: 200px;
      align-items: center;
      gap:70px;
      font-size: 40px;
  
  
    }
  }